<div class="row">
  <div class="col-12 mt-2">
    <h2>User List <select [(ngModel)]="dropdown"><option *ngFor="let i of dropdownlist" [value]="i">{{ i }}</option></select><input [(ngModel)]="phrase" placeholder="Search..."></h2>
    <button [routerLink]="['user/' + 0]" type="submit" class="btn btn-light btn-block mb-2">
      Add new User</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th (click)="changeorder('id')" (click)="arrowid()"># <i class={{idarrow}}></i></th>
          <th (click)="changeorder('name')" (click)="arrowname()">Name <i class={{namearrow}}></i></th>
          <th (click)="changeorder('email')" (click)="arrowemail()">Email <i class={{emailarrow}}></i></th>
          <th (click)="changeorder('address')" (click)="arrowaddress()">Address <i class={{addressarrow}}></i></th>
          <th (click)="changeorder('active')" (click)="arrowactive()">Active <i class={{activearrow}}></i></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users2$ | async | filter:dropdown:phrase | sorter:order:position">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.active }}</td>
          <td>
            <div class="btn-group">
              <button [routerLink]="['user/' + user.id]" class="btn btn-info">
                <i class="fa fa-pencil"></i>
              </button>
              <button (click)="onDelete(user)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
