th:hover{text-decoration: underline; color:rgb(51, 51, 51)}
i{color:rgb(78, 78, 78); font-size: small;}
h2{display:flex; justify-content: space-between;}
select{font-size: small; padding-left: 1rem; padding-right: 1rem}
option{font-size: small;}
input{font-size: small; padding-left: 1rem; padding-right: 1rem}